@for (hierarchicalListsListList of hierarchicalListsList(); track $index) {
    @for (hierarchicalListsList of hierarchicalListsListList; track $index) {
        <h3 (click)="showReferences($event, hierarchicalListsList.id)" id="@{{ hierarchicalListsList.id }}@">{{ hierarchicalListsList.id }}</h3>
        <ng-container *ngTemplateOutlet="childrenTemplate; context: { children: hierarchicalListsList.children }"></ng-container>
    }
}

<ng-template #childrenTemplate let-children="children">
    @if (children.length > 0) {
        <ul>
            @for (child of children; track $index) {
                <li>
                    <ng-container *ngTemplateOutlet="childTemplate; context: { child: child }"></ng-container>
                </li>
            }
        </ul>
    }
</ng-template>

<ng-template #childTemplate let-child="child">
    <strong>{{ child.tag }}:</strong>
    @if (isCrossReferencePointer(child.value)) {
        <ng-container *ngTemplateOutlet="internalReferenceTemplate; context: { internalReference: child.value }"></ng-container>
    } @else if (isExternalReference(child.value)) {
        <ng-container *ngTemplateOutlet="externalReferenceTemplate; context: { externalReference: child.value }"></ng-container>
    } @else {
        {{ child.value }}
    }
    <ng-container *ngTemplateOutlet="childrenTemplate; context: { children: child.children }"></ng-container>
</ng-template>

<ng-template #internalReferenceTemplate let-internalReference="internalReference">
    <a href="#{{ internalReference }}">{{ internalReference }}</a>
</ng-template>

<ng-template #externalReferenceTemplate let-externalReference="externalReference">
    <a [href]="externalReference" target="_blank" rel="noopener noreferrer">{{ externalReference }}</a>
</ng-template>

<div class="popup" *ngIf="isReferencePopupVisible()" [ngStyle]="{ top: popupPosition()?.y + 'px', left: popupPosition()?.x + 'px' }">
    <h3>References</h3>
    @if (references().length > 0) {
        <ul>
            @for (reference of references(); track $index) {
                @if (reference.id) {
                    <li>
                        {{ reference.tag }}: <a href="#@{{ reference.id }}@" (click)="hideReferences()">{{ reference.id }}</a>
                    </li>
                } @else {
                    <li>{{ reference.tag }}</li>
                }
            }
        </ul>
    } @else {
        <p>No references found.</p>
    }
    <button (click)="hideReferences()">Close</button>
</div>
