@for (rootablesList of rootableListsList(); track $index) {
    @for (rootable of rootablesList; track rootable.id) {
        <h3 id="@{{ rootable.id }}@">{{ rootable.id }}</h3>
        <ng-container *ngTemplateOutlet="attributesTemplate; context: { attributes: rootable.attributes }"></ng-container>
    }
}

<ng-template #attributesTemplate let-attributes="attributes">
    @if (attributes.length > 0) {
        <ul>
            @for (attribute of attributes; track $index) {
                <li>
                    <ng-container *ngTemplateOutlet="attributeTemplate; context: { attribute: attribute }"></ng-container>
                </li>
            }
        </ul>
    }
</ng-template>

<ng-template #attributeTemplate let-attribute="attribute">
    <strong>{{ attribute.tag }}:</strong>
    @if (isRecordReference(attribute.value)) {
        <ng-container *ngTemplateOutlet="internalReferenceTemplate; context: { internalReference: attribute.value }"></ng-container>
    } @else if (isExternalReference(attribute.value)) {
        <ng-container *ngTemplateOutlet="externalReferenceTemplate; context: { externalReference: attribute.value }"></ng-container>
    } @else {
        {{ attribute.value }}
    }
    <ng-container *ngTemplateOutlet="attributesTemplate; context: { attributes: attribute.attributes }"></ng-container>
</ng-template>

<ng-template #internalReferenceTemplate let-internalReference="internalReference">
    <a href="#{{ internalReference }}">{{ internalReference }}</a>
</ng-template>

<ng-template #externalReferenceTemplate let-externalReference="externalReference">
    <a [href]="externalReference" target="_blank" rel="noopener noreferrer">{{ externalReference }}</a>
</ng-template>
