/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
}

ul {
    list-style-type: none;
}
